
nav {
  display: flex;
  min-height: 10vh;
  justify-content: space-around;
  align-items: center;
  background-color: cadetblue;
  color:bisque;
}

.nav-links {
  display: flex;
  width: 50%;
  justify-content: space-around;
  align-items: center;
  background-color: cadetblue;
  color:rgb(222, 196, 255);
  list-style: none;
}

label {
  width : 100px;
  display:flex;
  font-size: 15px;
  margin: 5px;
  align-items: center;
  flex-direction: column;
}

input[type="text"],
input[type="number"]
input[type="password"]{
  height: 20px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  padding: 6px;
  align-items: center;
  margin: 10px;
  width: auto;
}

input[type="submit"] {
  margin-top: 10px;
  cursor: pointer;
  font-size: 15px;
  background: #4a01d2;
  border: 1px solid #01c4d2;
  color: #fff;
  padding: 10px 20px;
  margin : 20px;
  align-items: center;
}

.textarea {
  height: 20px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  padding: 6px;
  align-items: center;
  margin: 20px;
}

.Register {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  display:flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: 100vh;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-image: linear-gradient(rgb(173, 188, 230), grey);
}
